@model MailingUsingMailkit.Models.WelcomeMailVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Send E-mail</h1>


<form method="post" asp-action="SendWelcomeEmail" asp-controller="Mail">

    <input type="text" asp-for="EmailTo" placeholder="Send To" class="form-control" />
    <br />
    <br />
    <input type="submit" value="Send" class="btn btn-primary" />

</form>

